
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')

script(type='text/javascript', src='/js/notesviewmodel.js')
script(type='text/javascript', src='/js/gitviewmodel.js')
script(type='text/javascript', src='/js/app.js')

